<!--<div class="title"><img src="https://fizen.files.wordpress.com/2014/05/mtglogo.jpg" alt=""></div>

<body>
  
  <div *ngIf="!RestAPI.Login" class="login"><p>Username:</p>
    <div class="username"><input type="text" [(ngModel)]="Username"> <p-button class="loginbutton" label="login" styleClass="ui-button-warning ui-button-rounded" (click)="Login()"></p-button> </div> 
  </div>
  <div *ngIf="RestAPI.Login"><h1>Hey</h1>
    <p-button  label="logout" styleClass="ui-button-warning ui-button-rounded" (click)="Login()"></p-button> 
  </div>
</body>-->
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Auth0 - Angular</a>

      <button
        class="btn btn-primary btn-margin"
        routerLink="/">
          Home
      </button>

      <button
        class="btn btn-primary btn-margin"
        *ngIf="!auth.isAuthenticated()"
        (click)="auth.login()">
          Log In
      </button>

      <button
        class="btn btn-primary btn-margin"
        *ngIf="auth.isAuthenticated()"
        (click)="auth.logout()">
          Log Out
      </button>

    </div>
  </div>
</nav>

<main class="container">
  <router-outlet></router-outlet>
</main>

<div class="panel panel-default profile-area">
  <div class="panel-heading">
    <h3>Profile</h3>
  </div>
  <div class="panel-body">
    <img src="{{profile?.picture}}" class="avatar" alt="avatar">
    <div>
      <label><i class="glyphicon glyphicon-user"></i> Nickname</label>
      <h3 class="nickname">{{ profile?.nickname }}</h3>
    </div>
    <pre class="full-profile">{{ profile | json }}</pre>
  </div>
</div>
</body>
